# Web Scraping

### Web Scraping Best Practices:

- Never scrape more frequently than you need to.
- Consider caching the content you scrape so that it’s only downloaded once.
- Build pauses into your code using functions like time.sleep() to keep from overwhelming servers with too many requests too quickly.
- Video von [neuefische](https://www.youtube.com/watch?v=HMSe8WTNmFg)

## BeautifulSoup

The library we will use today to find fishes we can gift Larissa for christmas is [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/). It is a library to extract data out of HTML and XML files.

The first thing we’ll need to do to scrape a web page is to download the page. We can download pages using the Python requests.

The requests library will make a GET request to a web server, which will download the HTML contents of a given web page for us. There are several different types of requests we can make using requests, of which GET is just one.

## Import libraries

In [ ]:
import time
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

## The Blueground - robots.txt
User-agent: *  <br>
Disallow: /book <br>
Disallow: /book-failed<br>
Disallow: /book-thankyou<br>
Disallow: /expired<br>
Disallow: /feedback<br>
Disallow: /guests<br>
Disallow: /nps<br>
Disallow: /offers<br>
Disallow: /payment-failed<br>
Disallow: /payment-thankyou<br>
Disallow: /payments<br>
Disallow: /rating<br>
Disallow: /users<br>
Sitemap: https://www.theblueground.com/sitemap.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/ist.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/lon.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/par.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/vie.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/dxb.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/mia.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/nyc.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/sfo.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/lax.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/bos.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/wdc.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/chi.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/sea.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/den.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/atx.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/zrh.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/ber.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/mad.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/bcn.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/lis.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/bsl.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/hkg.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/cph.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/lux.xml<br>
Sitemap: https://www.theblueground.com/sitemap-images/sgp.xml<br>

## get the content of the website

In [ ]:
# get the content of the website
# Blueground - London
# https://www.theblueground.com/furnished-apartments-london-uk
# page = requests.get("https://www.theblueground.com/furnished-apartments-london-uk")
# html = page.content

In [ ]:
weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'
pagesite = 12
page = requests.get(weblink +  f'offset={ pagesite }&items=18')
html = page.content

We can use the BeautifulSoup library to parse this document, and extract the information from it.

We first have to import the library, and create an instance of the BeautifulSoup class to parse our document:

In [ ]:
# parse the html and save it into a BeautifulSoup instance
bs = BeautifulSoup(html, 'html.parser')

We can now print out the HTML content of the page, formatted nicely, using the prettify method on the BeautifulSoup object.

In [ ]:
#print(bs.prettify())

But what if we have more than one element with the same tag? Then we can just use the ```.find_all()``` method of BeautifulSoup:

### Searching for the Apartment/Studio Name

In [ ]:
# get the list of all the apartments
object_names = bs.find_all(class_="listing-name")
object_names_lst = (object_name.get_text() for object_name in object_names)
object_names_lst = [object_name.strip() for object_name in object_names_lst]
object_names_lst[:5]

### availabe - Tag

In [ ]:
# get the availabe - tag
available_tags = bs.find_all(class_="availability__available")
available_tag_lst = (available_tag.get_text() for available_tag in available_tags)
available_tag_lst = [available_tag.strip() for available_tag in available_tag_lst]
available_tag_lst[:5]

### available from

In [ ]:
# get the availabe from information
availables = bs.find_all(class_="availability__date")
available_lst = (available.get_text() for available in availables)
available_lst = [available.strip() for available in available_lst]
available_lst[:5]

### price - currency

In [ ]:
# get the price__currency
price_currencys = bs.find_all(class_= "price__currency")
price_currencys_lst = [price_currency.get_text() for price_currency in price_currencys]
price_currencys_lst = [price_currency.strip() for price_currency in price_currencys_lst]
price_currencys_lst[:5]

### price - amount

In [ ]:
# get the price amount
prices = bs.find_all(class_= "price__amount")
prices_lst = [price.get_text() for price in prices]
prices_lst = [price.strip() for price in prices_lst]
prices_lst[:5]

### price per month etc

In [ ]:
# get the price per month tag
prices_month = bs.find_all(class_= "monthly-price__suffix monthly-price__suffix--mobile")
prices_month_lst = [price_month.get_text() for price_month in prices_month]
prices_month_lst = [price_month.strip() for price_month in prices_month_lst]
prices_month_lst = [price_month.replace('/', '') for price_month in prices_month_lst]
prices_month_lst = [price_month.replace('mo', 'month') for price_month in prices_month_lst]
prices_month_lst[:5]

### complett description of the appartement

In [ ]:
# get the description of the apartments
descriptions= bs.find_all(class_="listing-amenities")
descriptions_lst = [description.get_text() for description in descriptions]
descriptions_lst = [description.strip() for description in descriptions_lst]
descriptions_lst[:5]

### main-amenities  of the appartement

In [ ]:
# get the main-amenities of the apartments
main_amenities= bs.find_all(class_="main-amenities")
main_amenities_lst = [main_amenitie.get_text() for main_amenitie in main_amenities]
main_amenities_lst = [main_amenitie.strip() for main_amenitie in main_amenities_lst]
main_amenities_lst[:5]

### main_amenities_amenity seperated

In [ ]:
# get the main-amenities of the apartments seperated
main_amenities_amenitys = bs.find_all(class_="main-amenities__amenity")
main_amenities_amenity_lst = [main_amenitie_amenity.get_text() for main_amenitie_amenity in main_amenities_amenitys]
main_amenities_amenity_lst = [main_amenitie_amenity.strip() for main_amenitie_amenity in main_amenities_amenity_lst]
main_amenities_amenity_lst[:5]

In [ ]:
# main_amenities_amenity_lst = [main_amenitie.strip() for main_amenitie in main_amenities_amenity_lst]
# main_amenities_amenity_lst[:5]

### rest_amenities of apartment

In [ ]:
# get the rest of the amenities
rest_amenities = bs.find_all(class_="rest-amenities")
rest_amenities_lst = [rest_amenity.get_text() for rest_amenity in rest_amenities]
rest_amenities_lst = [rest_amenity.strip() for rest_amenity in rest_amenities_lst]
rest_amenities_lst[:5]

# Erstellen eines DataFrames

In [ ]:
df = pd.DataFrame()
df

In [ ]:
df['object_name'] = pd.Series(object_names_lst)
df['available_tag'] = pd.Series(available_tag_lst)
df['available'] = pd.Series(available_lst)
df['description'] = pd.Series(descriptions_lst)
df['main_amenities'] = pd.Series(main_amenities_lst)
#df['main_amenities_amenity'] =pd.Series( main_amenities_amenity_lst)
df['rest_amenities'] = pd.Series(rest_amenities_lst)
df['price_currencys'] = pd.Series(price_currencys_lst)
df['prices'] = pd.Series(prices_lst)
df['prices_month'] = pd.Series(prices_month_lst)
display(df)

### Save the actual DataFrame

In [ ]:
today = dt.datetime.today().strftime('%Y-%m-%d %H:%M') # to set the date in the csv filename
df.to_csv('blueground_{}.csv'.format(today), sep='\t')

# Information to get data in a loop

look for 'class="blank-slate__criteria"' , this will show us the last page of the infinite-scroll

In [ ]:
# link = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&
# for _ in range(7):
#     time.sleep(3)
#     if _ == 0:
#         page = requests.get(link + offset=1&items=18)
#         html = page.content
#     else:
#         print(link + f'/offset={_}&items=18')
#         page = requests.get(link + f'/offset={_}&items=18')
#         html = page.content

In [ ]:
weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'
pagesite = 1

while bs.find_all(class_=("blank-slate__criteria")) == False:
    time.sleep(5)
    page = requests.get(weblink +  f'offset={ pagesite }&items=18')
    html = page.content
    bs = BeautifulSoup(html, 'html.parser')
    print(weblink + f'/offset={ pagesite }&items=18')
    pagesite += 1

This will give us the correct url

In [ ]:
weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'
pagesite = 1

while pagesite < 7:
    #time.sleep(5)
    #page = requests.get(weblink +  f'/offset={ pagesite }&items=18')
    #html = page.content
    #bs = BeautifulSoup(html, 'html.parser')
    print(weblink + f'offset={ pagesite }&items=18')
    pagesite += 1

### Website not found:

https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&offset=18&items=18

In [ ]:
# get the content of the website
# Blueground - London
# https://www.theblueground.com/furnished-apartments-london-uk
page_not_found = requests.get("https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&offset=15&items=18")
html_not_found = page_not_found.content

In [ ]:
# parse the html and save it into a BeautifulSoup instance
bs_not_found = BeautifulSoup(html_not_found, 'html.parser')

In [ ]:
blank_slates = bs_not_found.find_all(class_="blank-slate__criteria")

blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
blank_slates_lst

In [ ]:
blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]
blank_slates_lst

### We try to shop the loop with 'class="blank-slate__criteria"' to see, if we have reached the end of the infinite-scroll

Working with an Inifiy - Website - Scrolling

https://medium.com/@harshvb7/scraping-from-a-website-with-infinite-scrolling-7e080ea8768e

https://stackoverflow.com/questions/69046183/how-do-i-scrape-a-website-with-an-infinite-scroller

https://stackoverflow.com/questions/64527791/scraping-an-infinite-scroll-page

https://stackoverflow.com/questions/12519074/scrape-websites-with-infinite-scrolling

In [ ]:
weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'
pagesite = 12

# blank_slates = bs_not_found.find_all(class_="blank-slate__criteria")
# blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
# blank_slates_lst
# blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]
blank_slates_lst = []
stop_loop = "We’re sorry! We can’t seem to find any apartments that match your search."
print("Startlink:", weblink + f'offset={ pagesite }&items=18')
print("We are looking for:", stop_loop)
print(type(stop_loop))
print("We currently have:", blank_slates_lst)
print(type(blank_slates_lst))


# https://flexiple.com/python/check-if-list-is-empty-python/
# Solution 3: Using len() function
# The len() function returns the number of items in a list. If the list is empty, it returns 0.
while len(blank_slates_lst) == 0:
    time.sleep(5)
    page = requests.get(weblink +  f'offset={ pagesite }&items=18')
    html = page.content
    bs_loop = BeautifulSoup(html, 'html.parser')
    print(weblink + f'offset={ pagesite }&items=18')
    pagesite += 1

    blank_slates = bs_loop.find_all(class_="blank-slate__criteria")
    blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
    print(blank_slates_lst)
    blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]
    print(blank_slates_lst)

# Pseudo Loop

In [ ]:
import time
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

#df_full = pd.DataFrame()
#df_object = pd.DataFrame()



weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'
pagesite = 12
page = requests.get(weblink +  f'offset={ pagesite }&items=18')
html = page.content

# parse the html and save it into a BeautifulSoup instance
bs = BeautifulSoup(html, 'html.parser')

# get the list of all the apartments
object_names = bs.find_all(class_="listing-name")
object_names_lst = (object_name.get_text() for object_name in object_names)
object_names_lst = [object_name.strip() for object_name in object_names_lst]
print(object_names_lst[:5])

df_object['object_name'] = pd.Series(object_names_lst)
df_full = pd.concat([df_full, df_object], axis=0, ignore_index=True)
display(df_full)

# Combining the Loop with a run

In [23]:
# import all the libraries

import time # to pause the code
import requests # to get the content of the website
from bs4 import BeautifulSoup # to parse the html
import re # to use regular expressions
import pandas as pd # to use pandas
import numpy as np # to use numpy

In [24]:
# create an empty dataframe
df_full = pd.DataFrame()
df_object = pd.DataFrame()

In [25]:
# set up the link to the website

weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'

# set up the first page to scrape
pagesite = 10 # we set it to 10 to test the code

# create an empty list to store the blank slates
blank_slates_lst = [] 

# set the stop condition
stop_loop = "We’re sorry! We can’t seem to find any apartments that match your search."

In [26]:
# https://flexiple.com/python/check-if-list-is-empty-python/
# Solution 3: Using len() function
# The len() function returns the number of items in a list. If the list is empty, it returns 0.
while len(blank_slates_lst) == 0: # start and endpoint of the for-loop
    # pause the loop for 3 seconds to reduce the load on the server
    time.sleep(3)


    # get the content of the website
    page = requests.get(weblink +  f'offset={ pagesite }&items=18')
    # parse the html and save it into a BeautifulSoup instance
    html = page.content

    # parse the html and save it into a BeautifulSoup instance
    bs = BeautifulSoup(html, 'html.parser')

    # get the list of all the apartments
    object_names = bs.find_all(class_="listing-name")
    object_names_lst = (object_name.get_text() for object_name in object_names)
    object_names_lst = [object_name.strip() for object_name in object_names_lst]
    #print(object_names_lst[:5])

    # create an empty dataframe to store the object names
    df_object = pd.DataFrame()

    # store the object names in the dataframe
    df_object['object_name'] = pd.Series(object_names_lst)
    df_full = pd.concat([df_full, df_object], axis=0, ignore_index=True)

    # drop duplicates
    df_full.drop_duplicates(subset=['object_name'], keep='first', inplace=True)

    # set the number of rows to display to maximum
    pd.set_option('display.max_rows', None)

    # display the dataframe from the loop
    display(df_full)


    # check if we reached the end of the pages
    blank_slates = bs.find_all(class_="blank-slate__criteria")
    blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
    blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]
    # print the list to make sure it works
    #print(blank_slates_lst)

    # increase the pagesite by 1
    pagesite += 1

                            object_name
0                   Upper Tachbrook St,
1                          Harbour Wy.,
2                           Bateman St,
3                             Green St,
4                   Tottenham Court Rd,
5                              City Rd,
6                      Baltimore Wharf,
7                              Dock St,
8                            Haymarket,
9            Marsh Wall, S Quay Square,
10                     St George Wharf,
11                          Macklin St,
12                         Lower Marsh,
13                       Farringdon Rd,
14                           Cavell St,
15  Peninsula Apartments, Praed Street,

                            object_name
0                   Upper Tachbrook St,
1                          Harbour Wy.,
2                           Bateman St,
3                             Green St,
4                   Tottenham Court Rd,
5                              City Rd,
6                      Baltimore Wharf,
7                              Dock St,
8                            Haymarket,
9            Marsh Wall, S Quay Square,
10                     St George Wharf,
11                          Macklin St,
12                         Lower Marsh,
13                       Farringdon Rd,
14                           Cavell St,
15  Peninsula Apartments, Praed Street,
18                        Cleveland St,
19    Skyline Apartments, Gillender St,
20                      St Quintin Ave,
22                   Wellington Street,
23                       Nottingham Pl,
24                       Devonshire St,
25                          Bourlet Cl,
26                           Lillie Rd,
27                         Villiers St,
28                         New Drum St,
29        The Atlas Building,  City Rd,

                               object_name
0                      Upper Tachbrook St,
1                             Harbour Wy.,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15     Peninsula Apartments, Praed Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
27                          S Quay Square,
28                        Old Brompton Rd,
30                            Whitcomb St,
31  Walpole House,  Westminster Bridge Rd,
32                             Gilbert St,
33                          Northburgh St,
34        West Block, Forum Magnum Square,
36                      Notting Hill Gate,
37                             Welbeck St,
38                              Newman St,
39                           Glendower Pl,
40                             Causton Rd,
41           Matcham House, Glenthorne Rd,
42                                Duke St,

                               object_name
0                      Upper Tachbrook St,
1                             Harbour Wy.,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15     Peninsula Apartments, Praed Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
27                          S Quay Square,
28                        Old Brompton Rd,
29                            Whitcomb St,
30  Walpole House,  Westminster Bridge Rd,
31                             Gilbert St,
32                          Northburgh St,
33        West Block, Forum Magnum Square,
34                      Notting Hill Gate,
35                             Welbeck St,
36                              Newman St,
37                           Glendower Pl,
38                             Causton Rd,
39           Matcham House, Glenthorne Rd,
40                                Duke St,
41                      21G Milner Square,
42                      Inverness Terrace,

/var/folders/yg/z64xf8615mxbsw25_zldzjnm0000gn/T/ipykernel_22814/2267122680.py:25: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df_object['object_name'] = pd.Series(object_names_lst)

                               object_name
0                      Upper Tachbrook St,
1                             Harbour Wy.,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15     Peninsula Apartments, Praed Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
27                          S Quay Square,
28                        Old Brompton Rd,
29                            Whitcomb St,
30  Walpole House,  Westminster Bridge Rd,
31                             Gilbert St,
32                          Northburgh St,
33        West Block, Forum Magnum Square,
34                      Notting Hill Gate,
35                             Welbeck St,
36                              Newman St,
37                           Glendower Pl,
38                             Causton Rd,
39           Matcham House, Glenthorne Rd,
40                                Duke St,
41                      21G Milner Square,
42                      Inverness Terrace,