# Clean Notebook for Webscraping of Blueground

Clean means: You can start from top an run to bottom without an error

In [1]:
# import all the libraries

import time # to pause the code
import requests # to get the content of the website
from bs4 import BeautifulSoup # to parse the html
import re # to use regular expressions
import pandas as pd # to use pandas
import numpy as np # to use numpy

In [2]:
# create an empty dataframe
df_full = pd.DataFrame()
df_object = pd.DataFrame()

In [3]:
# set up the link to the website

weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'

# set up the first page to scrape
pagesite = 10 # we set it to 10 to test the code

# create an empty list to store the blank slates
blank_slates_lst = [] 

# set the stop condition
stop_loop = "We’re sorry! We can’t seem to find any apartments that match your search."

In [4]:
# https://flexiple.com/python/check-if-list-is-empty-python/
# Solution 3: Using len() function
# The len() function returns the number of items in a list. If the list is empty, it returns 0.
while len(blank_slates_lst) == 0: # start and endpoint of the for-loop
    # pause the loop for 3 seconds to reduce the load on the server
    time.sleep(3)


    # get the content of the website
    page = requests.get(weblink +  f'offset={ pagesite }&items=18')
    # parse the html and save it into a BeautifulSoup instance
    html = page.content

    # parse the html and save it into a BeautifulSoup instance
    bs = BeautifulSoup(html, 'html.parser')

    # get the list of all the apartments
    object_names = bs.find_all(class_="listing-name")
    object_names_lst = (object_name.get_text() for object_name in object_names)
    object_names_lst = [object_name.strip() for object_name in object_names_lst]
    #print(object_names_lst[:5])

    # create an empty dataframe to store the object names
    df_object = pd.DataFrame()

    # store the object names in the dataframe
    df_object['object_name'] = pd.Series(object_names_lst)
    df_full = pd.concat([df_full, df_object], axis=0, ignore_index=True)

    # drop duplicates
    df_full.drop_duplicates(subset=['object_name'], keep='first', inplace=True)

    # set the number of rows to display to maximum
    pd.set_option('display.max_rows', None)

    # display the dataframe from the loop
    display(df_full)


    # check if we reached the end of the pages
    blank_slates = bs.find_all(class_="blank-slate__criteria")
    blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
    blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]
    # print the list to make sure it works
    #print(blank_slates_lst)

    # increase the pagesite by 1
    pagesite += 1

                   object_name
0                 Harbour Wy.,
1          Upper Tachbrook St,
3                  Bateman St,
4                    Green St,
5          Tottenham Court Rd,
6                     City Rd,
7             Baltimore Wharf,
8                     Dock St,
9                   Haymarket,
10  Marsh Wall, S Quay Square,
11            St George Wharf,
12                 Macklin St,
13                Lower Marsh,
14              Farringdon Rd,
15                  Cavell St,

                          object_name
0                        Harbour Wy.,
1                 Upper Tachbrook St,
2                         Bateman St,
3                           Green St,
4                 Tottenham Court Rd,
5                            City Rd,
6                    Baltimore Wharf,
7                            Dock St,
8                          Haymarket,
9          Marsh Wall, S Quay Square,
10                   St George Wharf,
11                        Macklin St,
12                       Lower Marsh,
13                     Farringdon Rd,
14                         Cavell St,
15                   Villiers Street,
18                      Cleveland St,
19  Skyline Apartments, Gillender St,
20                    St Quintin Ave,
22                 Wellington Street,
23                     Nottingham Pl,
24                     Devonshire St,
25                        Bourlet Cl,
26                         Lillie Rd,
27                       Villiers St,
28                       New Drum St,
29      The Atlas Building,  City Rd,

                               object_name
0                             Harbour Wy.,
1                      Upper Tachbrook St,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15                        Villiers Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
28                          S Quay Square,
29                        Old Brompton Rd,
31                            Whitcomb St,
32  Walpole House,  Westminster Bridge Rd,
33                             Gilbert St,
34                          Northburgh St,
35        West Block, Forum Magnum Square,
37                      Notting Hill Gate,
38                             Welbeck St,
39                              Newman St,
40                           Glendower Pl,
41                             Causton Rd,
42           Matcham House, Glenthorne Rd,

                               object_name
0                             Harbour Wy.,
1                      Upper Tachbrook St,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15                        Villiers Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
27                          S Quay Square,
28                        Old Brompton Rd,
29                            Whitcomb St,
30  Walpole House,  Westminster Bridge Rd,
31                             Gilbert St,
32                          Northburgh St,
33        West Block, Forum Magnum Square,
34                      Notting Hill Gate,
35                             Welbeck St,
36                              Newman St,
37                           Glendower Pl,
38                             Causton Rd,
39           Matcham House, Glenthorne Rd,
40                      21G Milner Square,
41                      Inverness Terrace,

/var/folders/yg/z64xf8615mxbsw25_zldzjnm0000gn/T/ipykernel_5093/1235013659.py:27: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df_object['object_name'] = pd.Series(object_names_lst)

                               object_name
0                             Harbour Wy.,
1                      Upper Tachbrook St,
2                              Bateman St,
3                                Green St,
4                      Tottenham Court Rd,
5                                 City Rd,
6                         Baltimore Wharf,
7                                 Dock St,
8                               Haymarket,
9               Marsh Wall, S Quay Square,
10                        St George Wharf,
11                             Macklin St,
12                            Lower Marsh,
13                          Farringdon Rd,
14                              Cavell St,
15                        Villiers Street,
16                           Cleveland St,
17       Skyline Apartments, Gillender St,
18                         St Quintin Ave,
19                      Wellington Street,
20                          Nottingham Pl,
21                          Devonshire St,
22                             Bourlet Cl,
23                              Lillie Rd,
24                            Villiers St,
25                            New Drum St,
26           The Atlas Building,  City Rd,
27                          S Quay Square,
28                        Old Brompton Rd,
29                            Whitcomb St,
30  Walpole House,  Westminster Bridge Rd,
31                             Gilbert St,
32                          Northburgh St,
33        West Block, Forum Magnum Square,
34                      Notting Hill Gate,
35                             Welbeck St,
36                              Newman St,
37                           Glendower Pl,
38                             Causton Rd,
39           Matcham House, Glenthorne Rd,
40                      21G Milner Square,
41                      Inverness Terrace,