# Clean Notebook for Webscraping of Blueground

Clean means: You can start from top an run to bottom without an error

# We load the libraries

In [ ]:
# import all libraries that are needed

import requests                 # requests on websites
from bs4 import BeautifulSoup   # html parsing

import pandas as pd             # pandas for data frame
import numpy as np              # numpy for array

import math                     # for math methods
import time                     # for sleep timer
from datetime import date       # for the current date

from sql_functions import *     # functions from file for upload on schema
import psycopg2                 # for upload on engine

import datetime as dt           # for the csv file with the current date and time

import re                       # for regular expressions

# https://jsonformatter.org/json-viewer
import json                     # for json files

import random                   # for random numbers

import matplotlib.pyplot as plt # for plotting
# Will allow us to embed images in the notebook
%matplotlib inline

# we create empty dataframes

In [ ]:
# create an empty dataframe
df_full = pd.DataFrame()
df_object = pd.DataFrame()
df_search = pd.DataFrame()
df_detail = pd.DataFrame()
df = pd.DataFrame()

# we set up the link and stuff for the loop

Test: Links: 

https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&offset=10&items=18

https://www.theblueground.com/furnished-apartments-london-uk?subArea=bayswater,bermondsey,bromley-by-bow,camden-town,canary-wharf,charing-cross,chelsea,city-of-london,clerkenwell,covent-garden,croydon,earls-court,farringdon,fitzrovia,fulham,hackney,hammersmith,highgate,holborn,islington,kensington,kentish-town,kings-cross,knightsbridge,ladbroke-grove,limehouse,maida-vale,marylebone,mayfair,notting-hill,old-street,paddington,piccadilly,pimlico,queens-park,shoreditch,soho,south-bank,south-kensington,southwark,stockwell,vauxhall,walthamstow,wandsworth,wapping,waterloo,westminster,whitechapel-brick-lane&currency=GBP&language=en&

offset=
2

&items=18"

In [ ]:
# The Weblink for all neccessary neighborhoods in London, that Ukio wants to scrape
weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?subArea=camden-town,city-of-london,westminster,hackney,hammersmith,fulham,islington,kensington,chelsea,stockwell,vauxhall,waterloo,wapping,whitechapel-brick-lane,limehouse,bromley-by-bow&currency=GBP&language=en&'

In [ ]:
# set up the link to the website

#weblink = 'https://www.theblueground.com/furnished-apartments-london-uk?currency=GBP&language=en&'

# set up the first page to scrape
pagesite = 0 # the website will start with 0 / # we set it to 10 to test the code

# create an empty list to store the blank slates
blank_slates_lst = [] 

# set the stop condition
stop_loop = "We’re sorry! We can’t seem to find any apartments that match your search." 

# check the link
print((weblink +  f'offset={ pagesite }&items=18'))

## we need the following structure for the dataframe:
+ platform_id	
+ platform	
+ neighbourhood	
+ property_type	
+ bedrooms	
+ bathroom	
+ price_pcm	
+ title	
+ furnished	
+ available_from	
+ size

# Neighbourhoods Ukio wants from us

+ Camden
+ City of London
+ City of Westminster
+ Hackney
+ Hammersmith and Fulham
+ Islington
+ Kensington and Chelsea
+ Lambeth --> Vauxhall
+ Tower Hamlets

### List of Neighbourhoods from Blueground we have to use


+ camden-town
+ city-of-london
+ westminster
+ hackney
+ hammersmith
+ fulham
+ islington
+ kensington
+ chelsea
+ stockwell
+ vauxhall
+ waterloo
+ bromley-by-bow
+ limehouse
+ wapping
+ whitechapel-brick-lane

This gives us this a selection of 83 flats (27.09.2022)

https://www.theblueground.com/api/furnished-apartments-london-uk?subArea=camden-town,city-of-london,westminster,hackney,hammersmith,fulham,islington,kensington,chelsea,stockwell,vauxhall,waterloo,wapping,whitechapel-brick-lane,limehouse,bromley-by-bow&currency=GBP&language=en&
offset= 1 &items=18

-----

# we load all the functions

platform_id --> from Detail-Page --> currently not working
we get the ID from the last part of the URL

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

def get_blueground_id(df_search):
    # create an empty list to store the blueground_id
    blueground_id_lst = []
    # get the blueground_id from the dataframe and the column get_url_to_detail_page
    for blueground_id in df_search.get_url_to_detail_page: # we get the url from the dataframe
        blueground_id_lst.append(blueground_id.rsplit('-', 1)[-1]) # we get the last part of the url
    return blueground_id_lst

platform --> we can add the Origin-Platform during the Loop, in this Notebook we have only "blueground"

neighbourhood

In [ ]:
def get_neighborhoods(bs):
    neighborhood_names = bs.find_all("div", {"class":"name-place"})
    neighborhood_names_lst = (neighborhood_name.get_text() for neighborhood_name in neighborhood_names)
    neighborhood_names_lst = [neighborhood_name.strip() for neighborhood_name in neighborhood_names_lst]
    neighborhood_names_lst = [i.rsplit(',', 1)[-1] for i in neighborhood_names_lst]
    neighborhood_names_lst = [i.rsplit('-', 1)[0] for i in neighborhood_names_lst]
    neighborhood_names_lst = [i.strip() for i in neighborhood_names_lst]
    return neighborhood_names_lst

property_type 
on Blueground their is only "Studio" or "Apartment"

> later we have to change the Type  "Jr. Bedroom" to "Studio"

In [ ]:
def get_property_type(bs):
    # get the property_type out of the apartment amenities
    lst_name = []
    property_typs = bs.find_all(class_="main-amenities")
    property_typs_lst = [property_type.get_text() for property_type in property_typs]
    property_typs_lst = [property_type.strip() for property_type in property_typs_lst]
    property_typs_lst = [i.split('o', 1)[0] for i in property_typs_lst]
    property_typs_lst = [i.replace('Bedr', 'Bedroom') for i in property_typs_lst]
    property_typs_lst = [i.replace('Studi', 'Studio') for i in property_typs_lst]
    property_typs_lst = [i.rsplit(' ', 1)[-1] for i in property_typs_lst]
    #property_typs_lst = [i.replace('Bedroom', 'Apartment') for i in property_typs_lst]
    return property_typs_lst

bedrooms

In [ ]:
def get_bedrooms(bs):
    # get the main-amenities of the apartments
    lst_name = []
    bedrooms = bs.find_all(class_="main-amenities")
    bedrooms_lst = [bedroom.get_text() for bedroom in bedrooms]
    bedrooms_lst = [bedroom.strip() for bedroom in bedrooms_lst]
    bedrooms_lst = [i.split('o', 1)[0] for i in bedrooms_lst]
    bedrooms_lst = [i.replace('Bedr', 'Bedroom') for i in bedrooms_lst]
    bedrooms_lst = [i.replace('Studi', 'Studio') for i in bedrooms_lst]
    return bedrooms_lst

bathroom

In [ ]:
def get_bathroom(bs):
    # get the main-amenities of the apartments
    lst_name = []
    bathrooms= bs.find_all(class_="main-amenities")
    bathrooms_lst = [bathroom.get_text() for bathroom in bathrooms]
    bathrooms_lst = [bathroom.strip() for bathroom in bathrooms_lst]
    bathrooms_lst = [i.rsplit('o', 1)[-1] for i in bathrooms_lst]
    bathrooms_lst = [i.replace('m', '') for i in bathrooms_lst]

    return bathrooms_lst

price_pcm (price per month)

In [ ]:
def get_price_pcm(bs):
    # get the price per month
    lst_name = []
    prices = bs.find_all(class_= "price__amount")
    for price in prices:
        lst_name.append(
            price.get_text()
                .strip()
                .replace(',', '')
        )
    return lst_name

 title

In [ ]:
def get_object_title(bs):
    # get the names of all the apartments
    lst_name = []
    object_titles = bs.find_all(class_="listing-name")
    for object_title in object_titles:
        lst_name.append(
            object_title.get_text()
                .strip()
        )
    return lst_name

furnished --> on Blueground we have only furnished Studios/Apartments

available_from

In [ ]:
def get_availability(bs):
    # get the availability of the apartments
    lst_availability = []
    availability = bs.find_all(class_="availability__date")
    for avail in availability:
        lst_availability.append(
            avail.get_text()
                .strip()
        )
    return lst_availability

size --> we get the size (sqm) in an extra loop, after the main information

-----

# We need this for the extra details

url

In [ ]:
def get_url_to_detail_page(bs, maximus):
    url_lst = []
    count = 0
    while count <= int(maximus):
        
        # this will get us the link to the detail page
        class_with_link = bs.find_all(class_="ui-image-carousel")
        # with the [] we can select the elment we want to get
        for a in class_with_link[count].find_all('a', href=True):
            url_lst.append(a['href'])
        count += 1
    #print(url_lst)
    return url_lst

----

# the Loop to grab everything for the main information

In [ ]:
# https://flexiple.com/python/check-if-list-is-empty-python/
# Solution 3: Using len() function
# The len() function returns the number of items in a list. If the list is empty, it returns 0.
while len(blank_slates_lst) == 0: # start and endpoint of the for-loop
    # pause the loop for a raondom time to reduce the load on the server
    time.sleep(random.randint(5,15)/random.randint(1,9))

    # ----------------- get the data from the website -----------------
    # get the content of the website
    page = requests.get(weblink +  f'offset={ pagesite }&items=18')
    # parse the html and save it into a BeautifulSoup instance
    html = page.content
    bs = BeautifulSoup(html, 'html.parser')

    # ----------------- insert the data into the dataframe -----------------
    # create a pandas dataframe for the names and prices
    blueground_dict = {
        #'platform_id', --> we get this from the detail page
        'platform': 'Blueground',
        'neighbourhood': get_neighborhoods(bs),
        'property_type': get_property_type(bs),
        'bedrooms': get_bedrooms(bs),
        'bathroom': get_bathroom(bs),
        'price_pcm': get_price_pcm(bs),
        'title': get_object_title(bs),
        'furniture': 'furnished',	
        'available_from': get_availability(bs),
        #'size': , --> we get this from the detail page
        'title': get_object_title(bs),
        'scraping_date_main': date.today(), # today's date
        'available_today': ''
        }
    
    # ----------------- work with the datafram to get the URL and the ID -----------------
    # we now have a dataframe, we can use this to get a counter for the URL
    df_page = pd.DataFrame(blueground_dict)

    # we create a variable to store the number of rows in the dataframe
    maximus = df_page.index.max() # we give it the max value of the index

    # we create a list to store the urls
    # we check if we reached the end of the existing df, to stop and not get an error
    if np.isnan(maximus):
        break
    else:
        df_page['get_url_to_detail_page'] = pd.Series(get_url_to_detail_page(bs, maximus))
    # we can now add the dataframe to the full dataframe
    #df_search = df_search.append(df_page, ignore_index=True)
    df_search = pd.concat([df_search, df_page], axis=0, ignore_index=True)


    # ----------------- check if we reached the end of the pages -----------------
    blank_slates = bs.find_all(class_="blank-slate__criteria")
    blank_slates_lst = (blank_slate.get_text() for blank_slate in blank_slates)
    blank_slates_lst = [blank_slate.strip() for blank_slate in blank_slates_lst]

    # increase the pagesite by 1
    pagesite += 1


# ----------------- get the ID from URL -----------------
# we want the ID on the first place, so we can use it to merge the dataframes, if needed
# Third position would be at index 2, because of zero-indexing.
# df.insert(2, 'new-col', data)
df_search.insert(0, 'platform_id', get_blueground_id(df_search))

In [ ]:
#------- set the number of rows and column_width  to maximum ------- 
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_colwidth', None)

In [ ]:
# ----------------- display the first 5 rows -----------------
display(df_search.head(2))
display(df_search.tail(2))

In [ ]:
# shows us the shape of the df in a quick way
df_search.shape

### we create some copys to work with

In [ ]:
print(df_search.index)
df_save = df_search.copy()
print(df_save.index)

--------

# Information from the JSON-File, we can create of the Detail-Webpages

In [ ]:
# make a copy of the dataframe, so we can use it later
df_for_details = df_save.copy()

In [ ]:
#-------- create empty dataframe to store the data in ---------
df_detail = pd.DataFrame()
concatenated = pd.DataFrame()
df2 = pd.DataFrame()


# ----- we need to loop through the dataframe, to get the details from the detail page -----
for idx, row in df_for_details.iterrows():
    # pause the loop for a raondom time to reduce the load on the server
    time.sleep(random.randint(2,15)/random.randint(1,9))
    
    #page = 'https://www.theblueground.com/furnished-apartments-london-uk/london-clerkenwell-115' # for testing
    page_start = 'https://www.theblueground.com'    # this is the main part of the URL
    page_end = row['get_url_to_detail_page']        # we get the rest of the URL from the dataframe
    pp = page_start + page_end                      # we combine the two parts of the URL
    #print(pp)

# ----------------- get the data from the website -----------------
    website = requests.get(pp)
    #website = requests.get(page)
    results = BeautifulSoup(website.content, 'html.parser')

    blogbeitraege = results.findAll('div', class_='property__amenities-list-item')
    blogbeitraege = results.findAll()

    blogbeitraege_lst = (blogbeitrag.get_text() for blogbeitrag in blogbeitraege)
    blogbeitraege_lst = [blogbeitrag.strip() for blogbeitrag in blogbeitraege_lst]

    df = pd.DataFrame(blogbeitraege_lst, columns=['details'])
    #display(df)

# ----------------- first steps to prepare a Json-File from the output we create from the detail-webpage -----------------
    df2 = df['details'].str.split('property:', expand=True).tail(1)
    df_to_string = str(df2[1].values[0])
    
    # we need to remove the last characters, so we get a valid json 
    df_to_string = df_to_string.strip()            
    df_to_string = df_to_string.rstrip(';')         # remove the last character
    df_to_string = df_to_string.strip()             
    df_to_string = df_to_string.rstrip('}')         # remove the last character
    df_to_string = df_to_string.strip()

# ----------------- create a Json-File from the output we create from the detail-webpage -----------------
    detail_dict = json.loads(df_to_string)
    detail_dict_normalized = pd.json_normalize(detail_dict, sep='_')
    x = detail_dict_normalized['amenities_main'].values[0]

# ----------------- with every loop we can crap the same information out of the Json-File -----------------
    df_detail = []
    df_detail = pd.DataFrame({
                        'blueground_id_details': page_end.rsplit('-', 1)[-1],
                        "lotsize":[x[2]['key']],                 # lotsize
                         "size_ft":x[2]['value'],                # lotsize value, the actual sqm as a number
                         'caption':x[2]['caption'],              # sqm as a caption
                         'scraping_date_details': date.today(),  # today's date
                         'let_type': ''           # mostly used by another company, so we can ignore it

                         })
# ----------------- we can now add the data to the dataframe -----------------
    concatenated = pd.concat([concatenated, df_detail], axis=0, ignore_index=True, join='outer')

In [ ]:
# ----------------- we can now show the data of the dataframe -----------------
display(concatenated.head(2))
display(concatenated.tail(2))

In [ ]:
# shows us the shape of the df in a quick way
concatenated.shape

# Save the Data

In [ ]:
# ----------------- save the dataframes in a .csv file -----------------
today = dt.datetime.today().strftime('%Y-%m-%d-%H-%M')
df_search.to_csv('data/bluebround_main_{}.csv'.format(today), sep='\t')
concatenated.to_csv('data/bluebround_detail_{}.csv'.format(today), sep='\t')
print("we have saved the new dataframes in a .csv file")

----

# 1. Basic information about data - EDA, before we export to DBeaver

https://www.digitalocean.com/community/tutorials/exploratory-data-analysis-python

In [ ]:
#Basic information
print(df_search.info())

In [ ]:
#Basic information
print(concatenated.info())

In [ ]:
#Describe the data

print(df_search.describe())
print(concatenated.describe())

# 2. Duplicate values

In [ ]:
#Find the duplicates
print(df_search.duplicated().sum())
print(concatenated.duplicated().sum())

# 5. Find the Null values

In [ ]:
#Find null values
print(df_search.isnull().sum())
print(concatenated.isnull().sum())

# 7. Know the datatypes

In [ ]:
#Datatypes
print(df_search.dtypes)
print(concatenated.dtypes)

------

# Export the data frame to DBeaver

## Export the Main-DF to DB

In [ ]:
# import the data frame to DBeaver

# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = 'blueground_df_main'

# import the table to sql
if engine!=None:
    try:
        df_search.to_sql(name=table_name,
                        con=engine,
                        if_exists='replace',
                        schema=schema, 
                        index=False,
                        chunksize=5000, 
                        method='multi')
        print(f"The {table_name} table was imported successfully.")
    
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

## Export the Detail-DF to DBeaver

In [ ]:
# import the data frame to DBeaver

# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = 'blueground_df_details'

# import the table to sql
if engine!=None:
    try:
        concatenated.to_sql(name=table_name,
                        con=engine,
                        if_exists='replace',
                        schema=schema, 
                        index=False,
                        chunksize=5000, 
                        method='multi')
        print(f"The {table_name} table was imported successfully.")
    
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

-------

# Do manipulation in SQL - Language

In [ ]:
# Import the get_engine function from our sql_functions.
from sql_functions import get_engine #adjust this as necessary to match your sql_functions.py connection methods

# Import get_dataframe from sql_functions.py
from sql_functions import get_dataframe


# create a variable called engine using the get_engine function
engine = get_engine()
print(engine)
print(type(engine))

In [ ]:
# call the schema created for this project
schema = 'capstone_jmrs'

In [ ]:
# Part 1 - Change all the Data - Values, we can easily change
# https://www.techonthenet.com/postgresql/tables/alter_table.php

sql_text = f"""
ALTER TABLE {schema}.blueground_df_main
  ALTER COLUMN platform_id  			TYPE integer USING platform_id::integer,
  ALTER COLUMN platform 				  TYPE varchar,
  ALTER COLUMN neighbourhood 			TYPE varchar,
  ALTER COLUMN property_type 			TYPE varchar,
  ALTER COLUMN title 					    TYPE varchar,
  ALTER COLUMN furniture 				  TYPE varchar,
  ALTER COLUMN get_url_to_detail_page 	TYPE varchar,
  ALTER COLUMN available_today 	  TYPE  varchar,
  ALTER COLUMN available_from     TYPE date USING available_from::date ;  
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# Part 2 -  We have to edit the values from "BedRooms, BathRooms and Price_Pcm" to convert it to an integer or float
# currently, we have "String" in this cells
# https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-update/


# We change the Values of the Bedrooms

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bedrooms = 1
WHERE bedrooms = '1 Bedroom' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bedrooms = 2
WHERE bedrooms = '2 Bedroom' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bedrooms = 3
WHERE bedrooms = '3 Bedroom' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# Update the property_type to Studio, if the  bedrooms is a Jr. 1 Bedroom
sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  property_type = 'Studio',
	 bedrooms = 1
WHERE bedrooms = 'Jr. 1 Bedroom' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

#we Update the Studio in "Bedroom" to 0 (Zero), to convert them later to Integer or Float
sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bedrooms = '0'
WHERE bedrooms = 'Studio' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# Update the property_type to Apartment, if the property_type is Bedroom
sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  property_type = 'Apartment'
WHERE property_type = 'Bedroom' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# now we will update the bathrooms ----
sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bathroom = 1
WHERE bathroom = '1 Bath' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bathroom = 1.5
WHERE bathroom = '1.5 Bath' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bathroom = 2
WHERE bathroom = '2 Bath' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  bathroom = 2.5
WHERE bathroom = '2.5 Bath' ;
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# now we want to ALTER the column of Bedrooms to Integer
sql_text = f"""
ALTER TABLE {schema}.blueground_df_main
  ALTER COLUMN bedrooms  TYPE integer USING (trim(bedrooms)::integer);
  """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)
  
# now we want to Alter the column of Bathroom to Float  
sql_text = f"""
ALTER TABLE {schema}.blueground_df_main
  ALTER COLUMN bathroom  TYPE float USING (trim(bathroom)::float);
    """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

#  now we want to Alter the column of Price to an Integer
sql_text = f"""
ALTER TABLE {schema}.blueground_df_main
ALTER COLUMN price_pcm  TYPE integer USING (trim(price_pcm)::integer) ; 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# Part 4 -  We have to Update the Neighboorhouds to make it even with the requirments from Uki
 # currently, we have "String" in this cells
 # https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-update/

 # Update to Hammersmith and Fulham
sql_text = f"""
UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'Hammersmith and Fulham'
WHERE (neighbourhood = 'Hammersmith') OR (neighbourhood = 'Fulham'); 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)


# Update to Kensington and Chelsea
sql_text = f"""
 UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'Kensington and Chelsea'
WHERE (neighbourhood = 'Kensington') OR (neighbourhood = 'Chelsea'); 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

# Update to Camden
sql_text = f"""
 UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'Camden'
WHERE (neighbourhood = 'Camden Town'); 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

# City of Westminster
sql_text = f"""
 UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'City of Westminster'
WHERE (neighbourhood = 'Westminster');
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

# Update to Lambeth
sql_text = f"""
 UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'Lambeth'
WHERE (neighbourhood = 'Stockwell') OR (neighbourhood = 'Vauxhall')OR (neighbourhood = 'Waterloo'); 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

# Update to Tower of Hamlets
sql_text = f"""
 UPDATE {schema}.blueground_df_main
SET  neighbourhood = 'Tower Hamlets'
WHERE (neighbourhood = 'Bromley by Bow') OR (neighbourhood = 'Bromley-by-Bow') OR (neighbourhood = 'Limehouse')OR (neighbourhood = 'Wapping') OR (neighbourhood = 'Whitechapel')OR (neighbourhood = 'Whitechapel/Brick Lane'); 
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
today = date.today() 
print("Today's date:", today)

In [ ]:
# check if the apartment is available or occupied on the day of scraping
today = date.today() 
sql_text = f"""
 UPDATE {schema}.blueground_df_main
	SET available_today = CASE 
      						WHEN available_from = '{today}'   THEN 'available'
      						ELSE 'occupied'
						  END;
 """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
 # Part 5 -  We now have to update the Types of the Detail
 # currently, we have "String" in this cells
 # https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-update/
sql_text = f"""
 ALTER TABLE {schema}.blueground_df_details
 ALTER COLUMN  blueground_id_details 	TYPE integer USING blueground_id_details::integer,
 ALTER COLUMN  lotsize			TYPE varchar,
 ALTER COLUMN  size_ft			TYPE float USING (trim(size_ft)::float),
 ALTER COLUMN  caption			TYPE varchar;
 """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# Update to let_type to fill with Null-Value
sql_text = f"""
    UPDATE  {schema}.blueground_main_details
    SET let_type = NULL 
    WHERE let_type = ''
""" 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
# DROP an existing table
sql_text = f"""

DROP TABLE IF EXISTS {schema}.blueground_main_details;

        """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [ ]:
 # Part 6 -  We now create a new table from the Main and Detail-Tables
 # https://stackoverflow.com/questions/14065408/how-do-i-merge-two-tables-in-postgresql

sql_text = f"""
CREATE TABLE {schema}.blueground_main_details AS
SELECT *
FROM {schema}.blueground_df_main
LEFT JOIN  {schema}.blueground_df_details
	   ON blueground_df_main.platform_id  = blueground_df_details.blueground_id_details ;
        """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

Blueground
Bookaflat

Google Ad-On for WebScraping

Eliminate the lowest 50% and the top 10%,
So its between 50 to 90 percent of the market as price reference

Net rental price
Net rental price / sqm
Net rental price / Bedroom

Occupany only for furnitured market

-------

# Combinded Data
Now we have combined Table of the Main - Data and the Detail-Data.    
We also executed some SQL-Functions for cleaning and preperation.

## Previewing Data

In [ ]:
# Import the get_engine function from our sql_functions.
from sql_functions import get_engine #adjust this as necessary to match your sql_functions.py connection methods

# Import get_dataframe from sql_functions.py
from sql_functions import get_dataframe

# Schema / Database configure:
schema = 'capstone_jmrs'

# Table name:
table_name = 'blueground_main_details'

# create a variable called engine using the get_engine function
engine = get_engine()
print(engine)
print(type(engine))

In [ ]:
# Select the combined Data form DBeaver Database

sql = f"""

SELECT *
FROM {schema}.{table_name} as blueground_main_details


""" 
# Take the SQL-Command and import all Data from Air_Quality, from August 2021 
# to the variable aq_august
bgf = get_dataframe(sql) 
bgf_saved = bgf.copy()
display(bgf.head(3))

## Previewing Data

In [ ]:
df = bgf

# Displays the top 5 rows. Accepts an optional int parameter - num. of rows to show
df.head(2)

In [ ]:
# Similar to head, but displays the last rows
df.tail(2)

In [ ]:
# The dimensions of the dataframe as a (rows, cols) tuple
df.shape

In [ ]:
# The number of columns. Equal to df.shape[0]
len(df)

In [ ]:
# An array of the column names
df.columns

In [ ]:
# Columns and their types
df.dtypes

In [ ]:
# Converts the frame to a two-dimensional table
df.values

In [ ]:
# Displays descriptive stats for all columns
df.describe()

## Sorting

In [ ]:
# Sort rows descendingly by the index
df.sort_index(axis=0, ascending=False).head(5)

--------

# After we have done some EDA, we need to manipulate the Data to create addional coloums

## Calculate the "Square Feet" to "Square Meters"
formula: m² = ft² / 10.764

#### What Is Price Per Square Meter?

##### Dividing Total Cost by Total Area to Calculate Price Per Square Meter
The following table has Total Area in m2, Total Price, and Price/m2 columns. We will calculate price per square meter by `dividing` the `Total Price` by `Total Area in m2`.

In [ ]:
df.eval('size_sqm = size_ft / 10.764', inplace=True)
df.size_sqm = round(df.size_sqm, 2)

display(df.head(3))

## Calculate the Price per SQM

In [ ]:
##Zwei Spalten dividieren und Nullwerte ignorieren:
def my_func(x):
    try:
        return int(x['price_pcm']) / int(x['size_sqm'])
    except (ZeroDivisionError, ValueError):
        return int(x['price_pcm']) / 1

df["price_per_sqm"] = df.apply(my_func, axis=1)

In [ ]:
df.price_per_sqm = round(df.price_per_sqm, 2)
display(df.head(3))

## Calculate the Price per Bedroom

In [ ]:
##Zwei Spalten dividieren und Nullwerte ignorieren:
def calc_bedroom(x):
    try:
        return int(x['price_pcm']) / int(x['bedrooms'])
    except (ZeroDivisionError, ValueError):
        return int(x['price_pcm']) / 1

df["price_per_bedroom"] = df.apply(calc_bedroom, axis=1)

In [ ]:
df.price_per_bedroom = round(df.price_per_bedroom, 2)
display(df.head(3))

---------

# EDA after some manipulation

In [ ]:
# Displays the top rows. Accepts an optional int parameter - num. of rows to show
df.head(2)

In [ ]:
# Similar to head, but displays the last rows
df.tail(2)

In [ ]:
# The dimensions of the dataframe as a (rows, cols) tuple
df.shape

In [ ]:
# The number of columns. Equal to df.shape[0]
len(df)

In [ ]:
# An array of the column names
df.columns

In [ ]:
# Columns and their types
df.dtypes

In [ ]:
# Converts the frame to a two-dimensional table
df.values

In [ ]:
# Displays descriptive stats for all columns
df.describe()

--------

# Plotting

In [ ]:
import matplotlib.pyplot as plt

# Will allow us to embed images in the notebook
%matplotlib inline

In [ ]:
plot_df = df

In [ ]:
plot_df.plot(figsize=(12,6));

In [ ]:
plot_df.plot(figsize=(12,6), subplots=True, layout=(3,3), sharex=False, sharey=False, legend=True, fontsize=8, title='Blueground Properties in London', linestyle='solid', linewidth=1, grid=True);

In [ ]:
# Seaborn visualization library
# https://towardsdatascience.com/visualizing-data-with-pair-plots-in-python-f228cf529166
import seaborn as sns
# Create the default pairplot
sns.pairplot(df);

In [ ]:
plot_df.plot(kind='scatter', x='size_sqm', y='price_pcm', alpha=0.2, colormap='viridis', figsize=(12,6));

In [ ]:
plot_df.plot(kind='hist', bins=50, figsize=(12,6), alpha=0.5, density=True, subplots=True, layout=(3,3), sharex=False, sharey=False, legend=True, title='Histograms',  fontsize=10, rot=0);

In [ ]:
# Use kind='hbar' for horizontal bars, and stacked=True to stack the groups
plot_df.plot(kind='bar', stacked=True, figsize=(12, 6),   fontsize=10, rot=0, colormap='viridis',   sharex=False, sharey=False, legend=True,);

In [ ]:
# Boxplots are displayed with the kind=’box’ options. Each box represents a numeric column.

# without outliners

plot_df.plot(kind='box', figsize=(10, 5), rot=45, fontsize=10, grid=True, title='Boxplot', color='red', vert=False, patch_artist=True, showfliers=False);

In [ ]:
# Boxplots are displayed with the kind=’box’ options. Each box represents a numeric column.

# with outliners

plot_df.plot(kind='box', figsize=(10, 5), rot=45, fontsize=10, grid=True, title='Boxplot', color='red', vert=False, patch_artist=True, showfliers=True);

In [ ]:
# Boxplots are displayed with the kind=’box’ options. Each box represents a numeric column.

# with outliners

plot_df.plot(kind='box', figsize=(10, 5), rot=45, fontsize=10, grid=True, title='Boxplot', color='red', vert=True, patch_artist=True, showfliers=True, subplots=False, sharex=False, sharey=False);

In [ ]:
# Boxplots are displayed with the kind=’box’ options. Each box represents a numeric column.

# with outliners

plot_df.plot(kind='box', figsize=(12, 6), rot=0, fontsize=8, grid=True, title='Boxplot', color='red', vert=True, patch_artist=True, showfliers=True, subplots=True, layout=(3, 3), legend=True);

In [ ]:
plot_df.plot(kind='kde', figsize=(12, 6), fontsize=10, grid=True, title='KDE', color='red', subplots=True, layout=(3, 3), legend=True);

--------

# We check for some problems we saw in the plots

In [ ]:
df.sort_values(by=['price_per_sqm'], ascending=False).head(5)

In [ ]:
df.sort_values(by=['price_per_sqm'], ascending=True).head(2)

In [ ]:
# Look for id 121, because the something is wrong with the data
df[df.caption == "Floor"]

### we can see, that we have a problem with the calculaton of "Floor" and the "price_per_sqm"

In [ ]:
# we look at the shape of the dataframe, so we can see the number of rows and columns
df.shape

# We try to delete the rows with "Floor"
https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/

In [ ]:
# we have to drop the row with the caption "Floor"
# we check how many rows we have before dropping
df.loc[(df.caption == "Floor")]

In [ ]:
# https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
# we drop the rows with the caption "Floor"
df = df.loc[(df.caption != "Floor")]

In [ ]:
# we check the rows after dropping
df.loc[(df.caption == "Floor")]

In [ ]:
# we check the shape of the dataframe, so we can see the number of rows and columns
df.shape

In [ ]:
# we load the data again into our plot_df dataframe
plot_df = df

In [ ]:
# Boxplots are displayed with the kind=’box’ options. Each box represents a numeric column.

# with outliners, which we just dropped

plot_df.plot(kind='box', figsize=(10, 5), rot=45, fontsize=10, grid=True, title='Boxplot', color='red', vert=True, patch_artist=True, showfliers=True, subplots=False, sharex=False, sharey=False);

-------

# We now want to create a final Table, according to our structure

In [ ]:
# An array of the column names
df.columns

In [ ]:
# Columns and their types
df.dtypes

---------

# Give the clean data back to DBeaver to use it in Tableau

In [110]:
blueground_eda_cleaned = df

In [111]:
# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = 'blueground_eda_cleaned'

# import the table to sql
if engine != None:
    try:
        blueground_eda_cleaned.to_sql(name=table_name,
                                   con=engine,
                                   if_exists='replace',
                                   schema=schema,
                                   index=False,
                                   chunksize=5000,
                                   method='multi')
        print(f"The {table_name} table was imported successfully.")

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The blueground_eda_cleaned table was imported successfully.

---------

# Create a Database, according to the agreed Project-Structure

In [113]:
sql_text = f"""
DROP TABLE IF EXISTS capstone_jmrs.blueground_clean;
    """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

In [115]:
 # Part  -  We now create a new table from the worked EDA data
 # https://stackoverflow.com/questions/14065408/how-do-i-merge-two-tables-in-postgresql

sql_text = f"""
CREATE TABLE {schema}.blueground_clean AS
SELECT 
	platform_id AS platform_id, 
	platform AS platform,
	neighbourhood AS neighbourhood,
	furniture AS furniture,	
	property_type AS property_type,
	size_sqm AS size_sqm,
	bedrooms AS bedrooms,
	bathroom AS bathrooms,
	price_pcm AS price_pcm,
	price_per_sqm AS price_per_sqm,
	price_per_bedroom AS price_per_bedroom,
	available_from AS available_from,
	available_today AS available_today,
	let_type AS let_type,
	scraping_date_main AS scraping_date
FROM capstone_jmrs.blueground_eda_cleaned ;
    """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

# Change Column-Type to the final structure

In [116]:
# Change Column-Type to final structure:

sql_text = f"""
 ALTER TABLE {schema}.blueground_clean
 ALTER COLUMN   platform_id	TYPE TEXT ,
  ALTER COLUMN   platform	TYPE TEXT ,
   ALTER COLUMN   neighbourhood 	    TYPE TEXT ,
    ALTER COLUMN   property_type	TYPE TEXT ,
      ALTER COLUMN   furniture	TYPE TEXT ,
       ALTER COLUMN   let_type	TYPE TEXT ,
        ALTER COLUMN  available_today 	TYPE TEXT ,
		 ALTER COLUMN  	bathrooms		    TYPE  float USING bathrooms::float,
		  ALTER COLUMN  	bedrooms		TYPE  float USING bedrooms::float,
		   ALTER COLUMN  	size_sqm		TYPE  float USING size_sqm::float,
		    ALTER COLUMN  	price_pcm		TYPE  float USING price_pcm::float,
		     ALTER COLUMN  	price_per_sqm	TYPE  float USING price_per_sqm::float,
		      ALTER COLUMN  	price_per_bedroom		TYPE  float USING price_per_bedroom::float ;

        """ 
# Take the SQL-Command and execute it
result = engine.execute(sql_text)

-----

# Save the final Table after every EDA

In [117]:
# Import the get_engine function from our sql_functions.
from sql_functions import get_engine #adjust this as necessary to match your sql_functions.py connection methods

# Import get_dataframe from sql_functions.py
from sql_functions import get_dataframe

# Schema / Database configure:
schema = 'capstone_jmrs'

# Table name:
table_name = 'platforms_complete'

# create a variable called engine using the get_engine function
engine = get_engine()
print(engine)
print(type(engine))

Engine(postgresql://user:***@host/database)
<class 'sqlalchemy.engine.base.Engine'>

In [118]:
# Select the combined Data form DBeaver Database

sql = f"""

SELECT *
FROM {schema}.{table_name} as platforms_complete


""" 
# to the variable aq_august
last_save = get_dataframe(sql)

In [119]:
# ----------------- save the dataframes in a .csv file -----------------
today = dt.datetime.today().strftime('%Y-%m-%d-%H-%M')
last_save.to_csv('data/platforms_complete_{}.csv'.format(today), sep='\t')
print("we have saved the new dataframes in a .csv file")

we have saved the new dataframes in a .csv file