In [1]:
# import requests
# from bs4 import BeautifulSoup
# import re

# URL = 'https://www.spotahome.com/london/for-rent:apartments/398966'
# website = requests.get(URL)
# results = BeautifulSoup(website.content, 'html.parser')
# blogbeitraege = results.findAll('span', class_='property-title__details')

# for blogbeitrag in blogbeitraege:
#     sql_beitraege = blogbeitrag(text=re.compile('56 m²'))

In [2]:
# print(sql_beitraege)

In [3]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

page = 'https://www.spotahome.com/london/for-rent:apartments/398966'
website = requests.get(page)
results = BeautifulSoup(website.content, 'html.parser')

blogbeitraege = results.findAll('div', class_='property-title__details')
blogbeitraege = results.findAll('strong')

blogbeitraege_lst = (blogbeitrag.get_text() for blogbeitrag in blogbeitraege)
blogbeitraege_lst = [blogbeitrag.strip() for blogbeitrag in blogbeitraege_lst]

df = pd.DataFrame(blogbeitraege_lst, columns=['details'])

In [4]:
df

                                 details
0                                      5
1                                      2
2                                     85
3                The comfortable classic
4                   Will I like it here?
5                  Really? Tell me more…
6  Give me 1 more reason to live here...
7                          Check-in/out:
8                Required documentation:

In [5]:
# df_new = df.rename(index={'0': 'bedrooms', '1': 'bathrooms', '2': 'size'})
# df_new

In [6]:
df = df.T
df

,0,1,2,3,4,5,6,7,8
details,5,2,85,The comfortable classic,Will I like it here?,Really? Tell me more…,Give me 1 more reason to live here...,Check-in/out:,Required documentation:

In [7]:
df = df.drop([3, 4, 5, 6, 7, 8], axis=1)

In [8]:
df

         0  1   2
details  5  2  85

In [9]:
# df2 = df.rename(columns={'0': 'bedrooms', '1': 'bathrooms', '2': 'size'}, inplace=False)

In [10]:
df.columns = ['bedrooms', 'bathrooms', 'size']

In [11]:
df

        bedrooms bathrooms size
details        5         2   85