In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

page = 'https://www.spotahome.com/london/for-rent:apartments/398966'
#page = 'https://www.spotahome.com/london/for-rent:studios/607194'
#page = 'https://www.spotahome.com/london/for-rent:apartments/608874'
website = requests.get(page)
results = BeautifulSoup(website.content, 'html.parser')

details = results.find(
    'div', class_='property-title__details').find_all('span')

details_lst = (detail.get_text() for detail in details)
details_lst = [detail.strip() for detail in details_lst]

In [2]:
details_lst

['Apartment', '5 bedrooms', '2 bathrooms', '85 m2']

In [3]:
details_lst.pop(0)

'Apartment'

In [4]:
details_lst

['5 bedrooms', '2 bathrooms', '85 m2']

In [5]:
details_lst = [i.split(' ', 1) for i in details_lst]

In [6]:
details_lst

[['5', 'bedrooms'], ['2', 'bathrooms'], ['85', 'm2']]

In [7]:
row_dict = {}

for value_key_tuple in details_lst:
    new_key_value= {'id': '12345'}
    row_dict.update(new_key_value)
    key = value_key_tuple[1]
    value = value_key_tuple[0]
    row_dict[key] = value

In [8]:
row_dict

{'id': '12345', 'bedrooms': '5', 'bathrooms': '2', 'm2': '85'}

In [9]:
df_details=pd.DataFrame(data=row_dict,index=[0])
df_details

      id bedrooms bathrooms  m2
0  12345        5         2  85

# mit mehreren ID's

In [12]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd


def get_details(page):
    website = requests.get(page)
    results = BeautifulSoup(website.content, 'html.parser')

    details = results.find(
        'div', class_='property-title__details').find_all('span')

    details_lst = (detail.get_text() for detail in details)
    details_lst = [detail.strip() for detail in details_lst]

    details_lst.pop(0)

    details_lst = [i.split(' ', 1) for i in details_lst]

    row_dict = {}

    for value_key_tuple in details_lst:
        new_key_value= {'id': '12345'}
        row_dict.update(new_key_value)
        key = value_key_tuple[1]
        value = value_key_tuple[0]
        row_dict[key] = value

    return row_dict


df_details_complete = pd.DataFrame()

property_types = ['studios', 'apartments']
ids = [607194, 608874, 398966]

for property_type in property_types:
    for id in ids:
        page = f"https://www.spotahome.com/london/for-rent:{property_type}/{id}"
        website = requests.get(page)
        results = BeautifulSoup(website.content, 'html.parser')
        
        df_details = pd.DataFrame(get_details(page), index=[0])
        df_details_complete = pd.concat([df_details_complete, df_details])

In [13]:
df_details_complete

      id bedrooms bathrooms   m2
0    NaN      NaN       NaN  NaN
0  12345        4       NaN  NaN
0  12345        5         2   85
0    NaN      NaN       NaN  NaN
0  12345        4       NaN  NaN
0  12345        5         2   85