In [1]:
import requests                 # requests on websites
from bs4 import BeautifulSoup   # html parsing

import pandas as pd             # pandas for data frame
import numpy as np              # numpy for numerical operations

import math                     # for math methods
import time                     # for sleep timer
import random                   # for random number generator

import sql_functions as sf      # for sql functions
from sql_functions import *     # functions from file for upload on schema

import sqlalchemy               # for sql connection
import psycopg2                 # for upload on engine

import datetime as dt           # for the csv file with the current date and time
from datetime import date       # for the csv file with the current date and time
import re                       # for regular expressions

import matplotlib as mpl        # for plotting
import matplotlib.pyplot as plt # for plotting
import seaborn as sns           # for plotting

In [2]:
geodata = pd.read_csv("geodata.csv", delimiter=',')

In [3]:
geodata

            neighbourhood   latitude  longitude
0                  Camden  51.539089  -0.144174
1          City of London  51.513337  -0.090440
2     City of Westminster  51.497994  -0.137879
3                 Hackney  51.544121  -0.053816
4  Hammersmith and Fulham  51.483803  -0.209715
5               Islington  51.539153  -0.101154
6  Kensington and Chelsea  51.492280  -0.179455
7                 Lambeth  51.494184  -0.118473
8           Tower Hamlets  51.505533  -0.019871

In [4]:
geodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   neighbourhood  9 non-null      object
 1   latitude       9 non-null      float64
 2   longitude      9 non-null      float64
dtypes: float64(2), object(1)
memory usage: 344.0+ bytes

In [5]:
display(geodata)

            neighbourhood   latitude  longitude
0                  Camden  51.539089  -0.144174
1          City of London  51.513337  -0.090440
2     City of Westminster  51.497994  -0.137879
3                 Hackney  51.544121  -0.053816
4  Hammersmith and Fulham  51.483803  -0.209715
5               Islington  51.539153  -0.101154
6  Kensington and Chelsea  51.492280  -0.179455
7                 Lambeth  51.494184  -0.118473
8           Tower Hamlets  51.505533  -0.019871

In [6]:
# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = "geodata"

# import the table to sql
if engine != None:
    try:
        geodata.to_sql(name=table_name,
                                   con=engine,
                                   if_exists='replace',
                                   schema=schema,
                                   index=False,
                                   chunksize=5000,
                                   method='multi')
        print(f"The {table_name} table was imported successfully.")

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The geodata table was imported successfully.